html{
	font-size: 20px;
}
body{
	box-sizing: border-box;
	margin: 0 auto;
	
}


.header{
	background-color: #fff;
	padding-top: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.header_logo{
	padding-right: 800px;
}
.header_FB{
	margin-right: 20px;
	
}
.header_link{
	padding-left: 800px;
	display: inline-block;
}
.email_box{
	background-color: #FAC960	;
	padding-bottom: 100px;
	margin-top: 60px;
	
}
.email_box_text{
	text-align: center;
	font-size: 2.2rem;
	width: 665px;
   margin: 0 auto;
   padding-top: 70px;
	color: #8A6D2F;
	font-weight: 400;
}
.email_box_input{
	width: 450px;
    height: 40px;	
	 font-size: 1.5rem;
	 border: none;
    border-radius: 2px 0px 0px 2px;
}
.email_box_button{
	font-size: 1.5rem;
   height: 46px;
	background-color: #A8863D;
	color: #fff;
	width: 250px;
	border: none;
    border-radius: 0px 2px 2px 0px;
}
.box_input{
	text-align: center;
	padding-top: 30px;
	
}
.infinity{
	background-color: #F2F2F2;
	
}
.unlimitedspace{
	
	color: rgba(0, 0, 0, 0.56);
	text-align: center;
	font-size: 1.85rem;
	font-weight: 400;
	padding-top: 100px ;
	margin: 0 auto;
}
.lorem{
	font-size: 1.15rem;
	color: rgba(0, 0, 0, 0.40);
	text-align: center;
	width: 710px;
	padding-top: 30px;
	margin: 0 auto;
}
.infinity_foto{
	margin: 0 auto;
	text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}
.mobile{
	background-color: #fff;
}
.mobile_text{
	margin: 0 auto;
	text-align: center;
	font-size: 1.35rem;
	color: rgba(0, 0, 0, 0.56);
	padding-top: 70px;

}
.mobile_lorem{
	margin: 0 auto;
	font-size: 1.15rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.40);
	width: 700px;
	padding-top: 50px;
}
.mobile_foto{
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
.friends{
	background-color: #FAC960;
}
.tell_friends{
	margin: 0 auto;
	text-align: center;
	font-size: 1.85rem;
	color: #8A6D2F;
	padding-top: 50px;
}
.friends_text{
	margin: 0 auto;
	text-align: center;
	font-size: 1.1rem;
	color: rgba(0, 0, 0, 0.40);
	padding-top: 30px;
}
.friends_buttom{
	margin: 0 auto;
	text-align: center;
	border: 1px solid #758696;
	text-decoration: none;
	width: 66px;
	height: 22px;
	display: block;
	border-radius: 3px;
	background-color: #fff;
	color: #999;
}
.friends_buttom1{
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 80px;
}
.footer{
	background-color: #F2F2F2;
	
	
}
.footer_logo{
	margin: 0 auto;
	text-align: center;
	padding-top: 80px;
}
.footer_link{
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}
.footer_linkFB{
	margin-left: 20px;
	margin-right: 20px;
}
.additional{
		margin: 0 auto;
		text-align: center;
		display: block;
		text-decoration: none;
		font-size: 2.2rem;
		color: red;
		border: 3px solid #758696;
		width: 400px;
		border-radius: 20px;
		background-color: yellow;
}
