html{
	font-size: 20px;
}
body{
	background-color: rgba(28, 82, 221, 0.56);
	box-sizing: border-box;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
}
.logo{
	margin: 0 auto;
	padding-left: 103px;
	
}
.header_text{
	margin: 0 auto;
	color: #EBEBEB;
	font-size: 1.5rem;
	text-decoration: none;
	
}
.home{
	padding-left: 300px;
	padding-right: 50px;
	
}
.contact{
	padding-right: 50px;
}
.portfolio{
	padding-right: 50px;
}
.about_us{
	padding-right: 50px;
}
.sign_up{
	padding-right: 50px;
}
.build_the_future{
	position: relative;
	left: -430px;
	top: -520px;
	margin: 0 auto;
	color: white;
	font-size: 3.5rem;
	width: 500px;
	
}
.build_text{
	font-size: 1.8rem;
	color: #E5E5E5;
	margin: 0 auto;
    text-align: center;
    position: relative;
    left: -426px;
    top: -509px;
}
.join_now{
	color: #E5E5E5;
	font-size: 1.8rem;
	margin: 0 auto;
    position: relative;
    top: -450px;
    left: -586px;
	width: 180px;
	text-align: center;
    background-color: rgba(63, 0, 156, 0.92);
	 border-radius: 13px;
	 text-decoration: none;
	 display: block;
}
.working_foto{
	
	display: flex;
	
	padding-left: 686px;
	margin: 0 auto;
	
}